/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


nav {
    text-align: left;
    border: 2px;
    float: right;
    background-color: gray;
    text-decoration-color: black;
}

header {
    position: absolute;
    top: 0;
    text-align: center;
    border: 2px;
    float: none;
    background-color: whitesmoke;
    text-decoration-color: black;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    border: 2px;
    float: right;
    background-color: White;
    text-decoration-color: black;
}
    



